#login {
    height: 100%;
    position: relative;
    background-color: #FAFBFE;
}
.login-wrap {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-60%);
    padding: 40px 0;
    width: 384px;
    margin: 0 auto;
    background-color: #fff;
    color: #6c757d;
    box-shadow: 0 0 35px 0 rgba(154,161,171,.15);
    padding: 60px 28px;
}
.login-wrap h1 {
    text-align: center;
}
.form-control {
    display: block;
}

.form-input {
    width: 100%;
    padding: 8px;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #f1f3fa;
    background-clip: padding-box;
    border: 1px solid #f1f3fa;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    // &:focus {
    //     color: #495057;
    //     background-color: #fff;
    //     border-color: #80bdff;
    //     outline: 0;
    //     box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
    // }
}
.sr-only {
    line-height: 28px;
}
.form-btn {
    background-color: #727cf5;
    box-shadow: 0 2px 6px 0 rgba(114,124,245,.5);
    color: #fff;
    border: 1px solid #727cf5;
    border-radius: 2px;
    line-height: 32px;
    outline: none;
    width: 100%;
}
