#login {
    height: 100%;
    position: relative;
    background-color: #FAFBFE;
}
.login-wrap {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-60%);
    padding: 40px 0;
    width: 384px;
    margin: 0 auto;
    background-color: #fff;
    color: #6c757d;
    box-shadow: 0 0 35px 0 rgba(154,161,171,.15);
    padding: 60px 28px;
}
.login-wrap h1 {
    text-align: center;
}
.form-control {
    display: block;
}
.sr-only {
    line-height: 28px;
}
