<div class="v-aside">
    <!-- <div class="v-side-title">
        <img src="./../../assets/logo.jpeg" alt="" width="32" height="32">
        <h1 class="v-side-h1">智能生命表系统</h1>
    </div> -->
    <div>
        <h3 class="v-menu-h3">导航目录</h3>
        <!-- MENU LEVEL:1 -->
        <ul class="v-menu-one">
            <li v-for="(menu_1, index_1) in menuList">
                <div
                    class="v-menu-one-tt v-menu-title"
                    v-bind:class="{'active': BREADLIST.indexOf(menu_1) !== -1}"
                    @click="clickMenu(menu_1)"
                >
                    <i class="el-icon-menu v-menu-ico"></i>
                    <span>{{ menu_1.title }}</span>
                    <i
                        v-if="menu_1.child && menu_1.child.length"
                        class="el-icon-arrow-right v-menu-row"
                        v-bind:class="{'v-menu-row-open': menu_1.checked}"
                    ></i>
                </div>
                <!-- MENU LEVEL:2 -->
                <el-collapse-transition>
                    <ul
                        class="v-menu-second"
                        v-show="menu_1.checked"
                        v-if="menu_1.child && menu_1.child.length"
                    >
                        <li v-for="(menu_2, index_2) in menu_1.child">
                            <div
                                class="v-menu-second-tt v-menu-normal-tt v-menu-title"
                                v-bind:class="{'active': BREADLIST.indexOf(menu_2) !== -1}"
                                @click="clickMenu(menu_2)"
                            >
                                <span>{{ menu_2.title }}</span>
                                <i
                                    v-if="menu_2.child && menu_2.child.length"
                                    class="el-icon-arrow-right v-menu-row"
                                    v-bind:class="{'v-menu-row-open': menu_2.checked}"
                                ></i>
                            </div>
                            <!-- MENU LEVEL:3 -->
                            <el-collapse-transition>
                                <ul
                                    class="v-menu-third"
                                    v-show="menu_2.checked"
                                    v-if="menu_2.child && menu_2.child.length"
                                >
                                    <li
                                        v-for="(menu_3, index_3) in menu_2.child"
                                    >
                                        <div class="v-menu-third-tt v-menu-normal-tt v-menu-title"
                                        v-bind:class="{'active': BREADLIST.indexOf(menu_3) !== -1}" @click="clickMenu(menu_3)">
                                            {{ menu_3.title }}
                                        </div>
                                    </li>
                                </ul>
                            </el-collapse-transition>
                        </li>
                    </ul>
                </el-collapse-transition>
            </li>
        </ul>
    </div>
</div>
